/third-party/bzip2-1.0.6.tar.gz
/third-party/bzip2-1.0.6/
/third-party/curl-7.29.0.tar.bz2
/third-party/curl-7.29.0/
/third-party/glib-2.34.3.tar.xz
/third-party/glib-2.34.3/
/third-party/libarchive-3.1.2.tar.gz
/third-party/libarchive-3.1.2/
/third-party/libffi-3.0.11.tar.gz
/third-party/libffi-3.0.11/
/third-party/libsoup-2.38.1.tar.xz
/third-party/libsoup-2.38.1/
/third-party/libxml2-2.9.0.tar.gz
/third-party/libxml2-2.9.0/
/third-party/xz-5.0.4.tar.gz
/third-party/xz-5.0.4/
/third-party/zlib-1.2.7.tar.gz
/third-party/zlib-1.2.7/
/third-party/tree/
/src/test-data/git-remote/
/src/test_fetch_task
/src/test_metadata
/src/test_recipe
/src/test_task
/src/test_fetch_git
/src/test_fetch_http
/src/test_process
/src/test_dependency
/src/restraint
/src/restraintd
/src/rstrnt-report-result
/src/rstrnt-report-log
/src/rstrnt-adjust-watchdog
/src/*.o
rel-eng/lib/*.pyc
/docs/_build
