/plugins/tests/__pycache__/
/plugins/tests/server_output/
/third-party/bzip2-1.0.8.tar.gz
/third-party/bzip2-1.0.8/
/third-party/curl-7.68.0.tar.bz2
/third-party/curl-7.68.0/
/third-party/glib-2.56.4.tar.xz
/third-party/glib-2.56.4/
/third-party/intltool-0.51.0.tar.gz
/third-party/intltool-0.51.0/
/third-party/libarchive-3.4.0.tar.gz
/third-party/libarchive-3.4.0/
/third-party/libffi-3.1.tar.gz
/third-party/libffi-3.1/
/third-party/libsoup-2.48.1.tar.xz
/third-party/libsoup-2.48.1/
/third-party/libxml2-2.9.10.tar.gz
/third-party/libxml2-2.9.10/
/third-party/xz-5.2.4.tar.gz
/third-party/xz-5.2.4/
/third-party/sqlite-autoconf-3310100.tar.gz
/third-party/sqlite-autoconf-3310100/
/third-party/zlib-1.2.11.tar.gz
/third-party/zlib-1.2.11/
/third-party/autoconf-2.69.tar.gz
/third-party/autoconf-2.69/
/third-party/json-c-0.13.1.tar.gz
/third-party/json-c-0.13.1/
/third-party/openssl-1.0.1m.tar.gz
/third-party/openssl-1.0.1m
/third-party/m4-1.4.18.tar.xz
/third-party/m4-1.4.18/
/third-party/tarballs
/third-party/tree/
/src/test-data/git-remote/
/src/test_cmd_abort
/src/test_cmd_log
/src/test_cmd_result
/src/test_cmd_utils
/src/test_cmd_watchdog
/src/test_fetch_task
/src/test_metadata
/src/test_recipe
/src/test_task
/src/test_fetch_git
/src/test_fetch_uri
/src/test_process
/src/test_dependency
/src/test_env
/src/test_utils
/src/rhts-report-result
/src/restraint
/src/restraintd
/src/rstrnt-commands-env-*.sh
/src/rstrnt-report-result
/src/rstrnt-report-log
/src/rstrnt-adjust-watchdog
/src/rstrnt-abort
/src/rstrnt-sync
/src/*.o
rel-eng/lib/*.pyc
rel-eng/lib/__pycache__/
/docs/_build
tags
cscope.out
.tox/
