[Unit]
Description=The restraint harness.
After=network.target time-sync.target
Requires=network-online.target

[Service]
Type=simple
StandardError=syslog+console
ExecStartPre=/usr/bin/check_beaker
ExecStart=/usr/bin/restraintd
KillMode=process

[Install]
WantedBy=multi-user.target

