[Unit]
Description=The restraint harness.
After=network-online.target time-sync.target
Requires=network-online.target

[Service]
Type=simple
StandardError=journal+console
ExecStartPre=/usr/bin/check_beaker
ExecStart=/usr/bin/restraintd --port 8081
StateDirectory=restraint
KillMode=process
OOMScoreAdjust=-1000
OOMPolicy=continue

[Install]
WantedBy=multi-user.target

